:root {
  --fontFamily: "Poppins", sans-serif;
  --grey: #aaa;
  --shadowColor: #ddd;
  --orange: hsl(23, 100%, 46%);
  --darkOrange: hsl(23, 100%, 38%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  overflow: hidden;
}

input,
button {
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#root {
  height: 100vh;
}

.root-header {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid var(--grey);
}

.container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: calc(100vh - 80.8px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
  border-right: 1px solid var(--grey);
}

.form-section {
  margin-block: 7rem;
}

.form-section form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.form-section form input#location-name {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.form-section form button {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  background-color: var(--orange);
}

.form-section form button:hover {
  background-color: var(--darkOrange);
}

.form-section form button:active {
  transform: scale(0.98);
}

.pinned-locations {
  padding-inline: 1rem;
}

.pinned-locations h2 {
  padding-block: 1rem;
  text-align: center;
}

.pinned-locations ul[data-pinned-locations-list] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: calc(100vh - 68.8px - 80.8px);
  padding-bottom: 1rem;
  overflow-y: auto;
}

.weather-display-section,
.pinned-display-list-item {
  max-width: 510px;
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 0 var(--shadowColor);
}

.pinned-display-list-item {
  position: relative;
  max-width: 410px;
}

.pinned-display-list-item.refreshing::after {
  content: "Refreshing...";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.weather-display-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.weather-display-header h3 {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
}

.weather-display-header h3 img {
  width: 1rem;
  height: 1rem;
}

.action-icons-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.weather-display-header button[data-save-location],
.weather-display-header button[data-delete-location],
.weather-display-header button[data-refresh-location-data] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
}

.weather-display-header button[data-save-location]:hover,
.weather-display-header button[data-delete-location]:hover,
.weather-display-header button[data-refresh-location-data]:hover {
  background-color: var(--shadowColor);
}

.weather-display-header button[data-save-location] img,
.weather-display-header button[data-delete-location] img,
.weather-display-header button[data-refresh-location-data] img {
  width: 1.3rem;
  height: 1.3rem;
}

.weather-details {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.weather-details .temp-main {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.weather-details .temp-secondary {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: right;
}

.weather-details .temp-secondary span:first-child {
  font-weight: 500;
}

.weather-details .temp-secondary span:not(:first-child) {
  font-size: 0.875rem;
}

.no-weather-text {
  text-align: center;
  color: var(--grey);
}

@media (max-width: 980px) {
  body {
    overflow: auto;
    overflow-x: hidden;
  }

  #root {
    height: initial;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%; /* think later */
  }

  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-right: 0;
    border-bottom: 1px solid var(--grey);
  }

  .form-section {
    width: 280px;
    margin-block: 0;
  }

  .form-section form {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form-section form input#location-name {
    width: 100%;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
  }

  .form-section form button {
    width: 100%;
    padding: 0.5rem;
  }

  .weather-display-section {
    max-width: 410px;
  }

  .pinned-locations ul[data-pinned-locations-list] {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-rows: auto 60%;
  }

  main {
    flex-wrap: wrap;
    gap: 4rem;
    padding-block-start: 3rem;
    padding-block-end: 2rem;
  }

  .pinned-locations h2 {
    padding-block-start: 2rem;
  }
}

@media (max-width: 425px) {
  .root-header h1 {
    font-size: 1.75rem;
  }

  main,
  .pinned-locations {
    padding-inline: 2rem;
  }

  .form-section {
    width: 90%;
  }

  .weather-details {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .weather-details .temp-secondary {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.675rem;
    text-align: center;
  }
}
